apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: gpu-processor-hpa
  namespace: wardrobe-stylist
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: gpu-processor
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
